---
import Layout from "../layouts/Layout.astro";
import Theme from "../components/Theme.astro";
import SContainer from "../components/SContainer.astro";
---

<Layout title="Alejandro Isabel - Página no encontrada">
  <main class="flex flex-col items-center justify-center min-h-screen">
    <Theme />
    <SContainer>
      <h1
        class="text-7xl font-extrabold select-none dark:text-white text-gray-900"
      >
        &lt;Página no encontrada /&gt;
      </h1>
      <p class="mt-4 text-4xl dark:text-gray-300 text-gray-700 select-none">
        Lo siento, la página que buscas no existe.
      </p>
      <div class="mt-8">
        <a
          href="/"
          class="inline-flex items-center px-4 py-2 text-lg font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
        >
          Volver al inicio
        </a>
      </div>
    </SContainer>
  </main>
</Layout>
