---
---
<p
class="mt-4 text-2xl  font-normal text-gray-700 dark:text-gray-300"
>
    Desarrollador Web Junior recién graduado de Desarrollo de Aplicaciones Web con experiencia en la creación
de interfaces de usuario utilizando React.js y aplicaciones con Java. He trabajado en pruebas de componentes con React Testing Library y
colaborado en el desarrollo de soluciones y mejoras en proyectos React. Comprometido con la calidad del código,
el trabajo en equipo y con muchas ganas de trabajar y aprender. Experiencia en programación con Java en el
Grado Superior. 
</p>