---

---

<p class="mt-4 text-2xl font-normal text-gray-700 dark:text-gray-300">
  Desarrollador Web Junior recién graduado de <span class="underline"
    >Desarrollo de Aplicaciones Web</span
  > con experiencia en la creación de interfaces de usuario utilizando <span
    class="dark:text-blue-400 text-blue-600">React</span
  > y aplicaciones con <span class="dark:text-yellow-400 text-yellow-600"
    >Java</span
  >. <br />
  <br /> He trabajado en pruebas de componentes con React Testing Library y colaborado
  en el desarrollo de soluciones y mejoras en proyectos React. Comprometido con la
  calidad del código, el trabajo en equipo y con muchas ganas de <span
    class="underline">trabajar y aprender</span
  >. Experiencia en desarrollo con <span
    class="dark:text-green-400 text-green-600">JDBC</span
  > y <span class="dark:text-green-400 text-green-600">JSP</span> en el Grado Superior.
</p>
