---

---

<p class="mt-4 text-2xl font-normal text-gray-700 dark:text-gray-300">
  Desarrollador Web Junior recién graduado en <span class="underline"
    >Desarrollo de Aplicaciones Web</span
  > con experiencia en la creación de interfaces de usuario utilizando <span
    class="dark:text-blue-400 text-blue-600">React</span
  > y en el desarrollo de aplicaciones con <span class="dark:text-yellow-400 text-yellow-600"
    >Java EE</span
  >.
  <br /><br />
He trabajado en la implementación de pruebas y en el desarrollo de soluciones y mejoras en proyectos con React.
Experiencia en el desarrollo de aplicaciones Java Web, incluyendo el uso de tecnologías como <span
    class="dark:text-green-400 text-green-600">JPA</span> y <span
    class="dark:text-green-400 text-green-600">JSP</span>.
  <br /><br />

Comprometido con la calidad
  del código, el trabajo en equipo y con muchas ganas de <span class="underline"
    >trabajar y aprender</span
  >.
</p>
