---
import MapIcon from "./icons/MapIcon.astro";
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 mt-8">
  <li class="mb-10 ms-4 flex items-center">
    <div>
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <img src="./aurgi.png" alt="Logo de Aurgi" class="mr-4" />

      <time
        class="mb-1 text-xl font-normal leading-none text-gray-400 dark:text-gray-500"
      >
        <div class="flex items-center text-gray-700 dark:text-gray-300">
          <MapIcon class="size-6 mr-2" />
          Madrid (abril 2024 - junio 2024)
        </div>
      </time>

      <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mt-3">
        Anjana Investments (Aurgi & Motortown)
      </h3>
      <p class="mt-3 mb-4 text-xl font-normal text-gray-500 dark:text-gray-400">
        En Aurgi realicé mis prácticas del Grado Superior, donde me integré en
        el equipo de frontend, realizando pruebas en aplicaciones <span
          class="dark:text-blue-400 text-blue-600">React</span
        > y asegurando la calidad del código mediante el uso de <span
          class="dark:text-yellow-400 text-yellow-600">Jest</span
        >. esto me permitió colaborar en la optimización del rendimiento de las
        aplicaciones.
      </p>
      <a
        href="https://www.aurgi.com/"
        target="_blank"
        class="inline-flex items-center px-4 py-2 text-lg font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
        >Visita Aurgi <svg
          class="w-3 h-3 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"></path>
        </svg></a
      >
    </div>
  </li>
</ol>
