---
import JSIcon from "./icons/JSIcon.astro";
import JavaIcon from "./icons/JavaIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import SQLIcon from "./icons/SQLIcon.astro";
import SpringIcon from "./icons/SpringIcon.astro";

const SKILLS = [
  { name: "React", icon: ReactIcon, url: "https://reactjs.org/" },
  { name: "Java", icon: JavaIcon, url: "https://www.oracle.com/java/" },
  {
    name: "JavaScript",
    icon: JSIcon,
    url: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
  },
  { name: "Spring Boot", icon: SpringIcon, url: "https://spring.io/" },

  {
    name: "SQL",
    icon: SQLIcon,
    url: "https://www.oracle.com/es/database/technologies/appdev/sql.html",
  },
];
---

<style>
  .skill-name {
    opacity: 1;
    transition: opacity 0.3s;
  }
  .skill-container:hover .skill-name {
    opacity: 1;
  }
</style>

<div class="container mx-auto mt-8 space-y-10">
  <div class="flex gap-x-10 gap-y-1 flex-wrap justify-start">
    {
      SKILLS.map((skill) => (
        <a
          href={skill.url}
          target="_blank"
          rel="noopener noreferrer"
          class="flex flex-col items-center skill-container"
        >
          <div class="size-28 bg-white dark:bg-gray-700 rounded-xl shadow-md flex items-center justify-center transition-transform transform hover:-translate-y-1 hover:shadow-lg">
            <skill.icon class="size-20" />
          </div>
          <p class="mt-2 text-center text-gray-800 dark:text-gray-200 text-md font-semibold skill-name">
            {skill.name}
          </p>
        </a>
      ))
    }
  </div>
</div>
