---
import AzureIcon from "./icons/AzureIcon.astro";
import BootstrapIcon from "./icons/BootstrapIcon.astro";
import CSSIcon from "./icons/CSSIcon.astro";
import FigmaIcon from "./icons/FigmaIcon.astro";
import GitlabIcon from "./icons/GitlabIcon.astro";
import JSIcon from "./icons/JSIcon.astro";
import JavaIcon from "./icons/JavaIcon.astro";
import OracleIcon from "./icons/OracleIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import UbuntuIcon from "./icons/UbuntuIcon.astro";
import AWSIcon from "./icons/AWSIcon.astro";
import MaterialIcon from "./icons/MaterialUiIcon.astro";
import ChakraUiIcon from "./icons/ChakraUiIcon.astro";
import JestIcon from "./icons/JestIcon.astro";
import RTLIcon from "./icons/RTLIcon.astro";

const SKILLS = [
  { name: "React", icon: ReactIcon, url: "https://reactjs.org/" },
  { name: "Java", icon: JavaIcon, url: "https://www.oracle.com/java/" },
  {
    name: "JavaScript",
    icon: JSIcon,
    url: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
  },
  { name: "Material UI", icon: MaterialIcon, url: "https://mui.com/" },
  { name: "Azure", icon: AzureIcon, url: "https://azure.microsoft.com/" },
  { name: "Bootstrap", icon: BootstrapIcon, url: "https://getbootstrap.com/" },
  { name: "Figma", icon: FigmaIcon, url: "https://www.figma.com/" },
  { name: "Gitlab", icon: GitlabIcon, url: "https://about.gitlab.com/" },
  { name: "Ubuntu", icon: UbuntuIcon, url: "https://ubuntu.com/" },
  { name: "Tailwind", icon: TailwindIcon, url: "https://tailwindcss.com/" },
  { name: "Oracle", icon: OracleIcon, url: "https://www.oracle.com/cloud/" },
  {
    name: "CSS",
    icon: CSSIcon,
    url: "https://developer.mozilla.org/en-US/docs/Web/CSS",
  },
  { name: "AWS", icon: AWSIcon, url: "https://aws.amazon.com/" },
  { name: "Jest", icon: JestIcon, url: "https://jestjs.io/" },

  {
    name: "React Testing",
    icon: RTLIcon,
    url: "https://testing-library.com/docs/react-testing-library/intro/",
  },
];
---

<style>
  .skill-name {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .skill-container:hover .skill-name {
    opacity: 1;
  }
</style>

<div class="container mx-auto mt-8 space-y-10">
  <div class="flex gap-x-10 gap-y-1 flex-wrap justify-start">
    {
      SKILLS.map((skill) => (
        <a
          href={skill.url}
          target="_blank"
          rel="noopener noreferrer"
          class="flex flex-col items-center skill-container"
        >
          <div class="size-28 bg-white dark:bg-gray-700 rounded-xl shadow-md flex items-center justify-center transition-transform transform hover:-translate-y-1 hover:shadow-lg">
            <skill.icon class="size-20" />
          </div>
          <p class="mt-2 text-center text-gray-800 dark:text-gray-200 text-md font-semibold skill-name">
            {skill.name}
          </p>
        </a>
      ))
    }
  </div>
</div>
