<span class="typed-element text-2xl text-[#939393]"></span>
<!--  inline-flex bg-clip-text text-transparent -->
<script>
  import Typed from "typed.js";

  document.addEventListener("DOMContentLoaded", function () {
    var typed = new Typed(".typed-element", {
      strings: [
        "Desarrollador de Aplicaciones Web.",
        "Desarrollador Java y React.",
        "Desarrollador Web Full-Stack.",
        "Construyendo Aplicaciones Web.",
        "Creador de Soluciones Digitales.",
        "Software Developer",
      ],

      typeSpeed: 30,
      loop: true,
    });
  });
</script>
