<span class="typed-element text-2xl text-[#939393]"></span>

<script>
  import Typed from "typed.js";

  document.addEventListener("DOMContentLoaded", function () {
    const typed = new Typed(".typed-element", {
      strings: [
        "Desarrollador de software",
        "Desarrollador Full-Stack",
        "Spring Backend & API Developer",
        "Desarrollador de aplicaciones web",
        "Java · Spring Boot · React",
        "Software Developer",
      ],
      typeSpeed: 30,
      backSpeed: 20,
      loop: true,
    });
  });
</script>
